.case_full > p {
  position: absolute;
  margin-top: -36px;
  margin-left: 10px;
  line-height: 26px;
  padding: 0 10px;
  font-size: 0.875em;
  color: #FFF;
  background-color: #000;
}
.case_full video {
  width: 100%;
  height: auto;
  min-height: 562.5px;
}
.case_full .buttonplay {  
  position: absolute;
    background: url(../images/player.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 500px;
    border: none;
    padding: 0;
    outline: none;
    z-index: 1;
}
.case_full .buttonpause {  
  position: absolute;
    background: url(../images/pause.png);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 60px;
    height: 60px;
    bottom: 30px;
    left: 30px;
    border: none;
    padding: 0;
    outline: none;
    z-index: 1;
    display: none;
}
.case_dynamicvideo {
  height: 563px;
  position: relative;
}
.case_dynamicvideo video {
  position: absolute;
  top: 0;
}
.case_dynamicvideo > a > p {
  margin-top: none;
  bottom: -5px;
}
.labellist{
  height: auto;
  margin: 0 auto;
  margin-top: -70px;
  background-color: white;
  width: 1000px;
  overflow: hidden;
  padding-bottom: 20px;
}
.arrow-up {
  width:0; 
    height:0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid black;
    margin-top: -20px;
    margin-left: 36px;
}
.arrow-down {
  width:0; 
    height:0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid black;
    margin-top: -20px;
    margin-left: 36px;
}
.bottomlabel {
  height: auto;
  padding-bottom: 6px;
  padding-left: 0;
  float: none;
  overflow: hidden;
}
  .main {
  overflow: hidden;}
#more_posts {
    display: none;
}    

.case_container .case_full .playinfo {
 position: absolute;
    top: 88%;
    left: 26px;
    width: 70px;
    z-index: 99;
    cursor: pointer;
}
.case_container .case_full .playinfo img {
  width:100%;  
}
.case_container .case_full .playinfo .duration {
  position: absolute;
    top: 50%;
    left: 50%;
    color: #ffffff;
    font-size: 14px;
    transform: translate(-20%, -51%);
    -webkit-transform: translate(-20%, -51%);

}  
.case_full .video-cover {
    width: 100%;
    position: absolute;
    z-index: 1;
}
  
.video-dialog-container {
  position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 1000;
}
.video-mask {
position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
}
.video-close {
  position: absolute;
    width: 48px;
    height: 48px;
    background-image: url(../images/video_close.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 30px;
    cursor: pointer;
    z-index: 101;
}
.video-dialog {
  position: absolute;
    width: 100%;
    height:auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    -webkit-transform: translate(-50%, -50%);

}  

.video_full {
  width: 100%;
  max-width: 1280px;
  display: block;
  margin: 0 auto;
}
.video-detail {
  position: absolute;
  width: 472px;
  margin-top: 20px;
  margin-left: calc(50% - 236px);
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
.video-detail div {
  display: inline-block;
}
.video-detail p {
  margin: 17px auto;
    font-size: 16px;
    width: auto;
    display: inline-block;
}
.video-detail .video-name {
  padding-right: 20px;
}
.video-link p {
  color: #ffffff;
  margin-left: 30px;
}

.video-link img {
  width: 24px;
  margin-top: 16px;
  display: block;
  float: right;
  margin-right: -36px;
}
@media (max-width:768px) {
  .fixedbar img {width: calc(15% + 80px);}
  .main_container {
    background-color: #ffffff;
  }
  .case_dynamicvideo {
    height: auto;
  }
  .labellist {
    width: 94%;
    padding: 3%;
    padding-top: 5%;
    margin-top: 0;
  }
  .label {
    padding-bottom: 5%;
  }
  .arrow-up, .arrow-down {
    margin-top: -76%;
    margin-left: 110%;
  }
  .bottomlabel .label {
    margin-bottom: -2px;
  }
  .bottomlabel {
    padding: 3%;
    padding-top: 18px;
    padding-bottom: 0;
  }  
  .video-detail {
    position: relative;
    width: 240px;
      height: auto;
      background-color: #000000;
      padding: 20px;
      margin: 30px auto;
      color: #ffffff;
      text-align: center;
  }
  .video-detail p {
     font-size: 16px;
     margin: 0;
     line-height: 24px;
     width: 100%;
  }
  .video-close {
    margin: 10px;
  }
  .video-link {
    margin-top: 16px;
    display: block;
  }
  .video-link img {
    margin-top: 0;
  }
  .video-link p {
    margin-left: -22px;
    width: 64px;
  }
  .case_container .case_full .playinfo {
    margin-left: 16px;
    left: 0;
    top: 100%;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    margin-top: -40px;
  }
  .case_container .case_full .playinfo .duration {
    font-size: 12px;
  }
  .video-content {
    margin-top: 0;
  }
}