html,
body {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
a,
p,
span,
button {
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Microsoft Yahei", "Wenquanyi Micro Hei", sans-serif;
    font-weight: 300;
}
img {
  border: 0;
}


#toTop {
    width:70px;
    height:70px;
    font-size:25px;
    line-height: 67px;
    color: #fff;
    background: url(../images/back-top.png) no-repeat 0px 0px;
    position: fixed;
    right: 40px;
    bottom: 40px;
    display: none;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    z-index: 20;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
}




#reference,
#mobile_reference {
    position: absolute;
    opacity: 0.3;
    top: 0px;
    width: 100%;
    height: auto;
    display: none;
}

.pc .slick-dots li button:before {
    color: white;
    opacity: 0.3;
    font-size: 16px;
}

.pc .slick-dots li {
    margin: 0 2px;
}

.banner_container {
    min-height: 500px;
}
.pc.submenu {
    height: 160px;
}
.pc.submenu a {
    width: 250px;
    height: 160px;
}
.clear {
    float: left;
    clear: both;
}

.container {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #f0f0f0;
}

.menu_container {
    float: left;
    width: 100%;
    background-color: #ffffff;
}

.menu {
    position: fixed;
    z-index: 100;
    height: 80px;
    width: 100%;
    margin: 0 auto;
    /*background-color: #ffffff;*/
    background-color: rgba(255,255,255,0);
}

.pcmenu_container {
    width: 1000px;
    margin: 0 auto;
}

.menu img {
    float: left;
    width: 350px;
    margin-top: 3px;
}

.menu ul {
    float: left;
    margin: 0;
    padding: 0;
    line-height: 60px;
    margin-top: 6px;
}

.menu ul li {
    float: left;
    display: inline-block;
    padding: 0;
    padding-left: 44px;
    letter-spacing: 0.06em;
}

.menu .leftmenu li a {
    text-decoration: none;
    /*color: #000000;*/
    color: #ffffff;
    font-size: 1.0em;
}

.menu .leftmenu li a p {
    margin: 0;
    letter-spacing: 0.55px;
    font-weight: 400;
}

.menu .rightmenu li a {
    letter-spacing: 0em;
    text-decoration: none;
}

.menu .rightmenu li a p {
    font-weight: 400;
    margin: 0;
    color: #ffffff;
    font-size: 1.0em;
}

.menu .rightmenu {
    float: right;
}

.menu .nocurrent {
    border-bottom: transparent;
}

.menu .current,
.menu .hover {
    border-bottom: 4px solid #ffffff;
}

.scrolled .current,
.scrolled .hover {
    border-bottom: 4px solid #000000;
}

.banner_container {
    position: relative;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    /*margin-top: 68px;*/
    height: auto;
    overflow: hidden;
}

.banner_container img {
    width: 100%;
}

.banner_container a {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: block;
    position: relative;
    min-height: 500px;
}

.banner_container .banner_content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    -webkit-transform: translate(-50%, -50%);
    overflow: hidden;
}

.banner_container .banner_title p {
    font-size: 58px;
    color: #ffffff;
    width: 1000px;
    margin: 0 auto;
    display: block;
    margin-bottom: 18px;
}

.pagebanner_title {
    position: absolute;
    width: 80%;
    top: calc(50% - 34px);
    left: 50%;
    transform: translate(-50%, -50%);  
    -webkit-transform: translate(-50%, -50%);

}

.pagebanner_title p {
    font-size: 50px;
    letter-spacing: 15px;
    font-weight: 100;
    color: #ffffff;
    text-align: center;
    margin: 0;
}

.pagebanner_title .title_en {
    font-size: 24px;
    color: #f4f4f4;
    opacity: 0.6;
    font-weight: 200;
}

.banner_container .banner_logo,
.banner_container .banner_clear {
    width: 1000px;
    margin: 0 auto;
    display: block;
    margin-top: 50px;
}

.banner_container .banner_clear img {
    width: auto;
}

.main_container {
    position: relative;
    float: left;
    width: 100%;
    background-color: #f0f0f0;
}

.main {
    width: 1000px;
    margin: 0 auto;
}

.case_full {
    width: 100%;
    position: relative;
}
.shade {
    opacity: 0.8;
}
.label {
    float: left;
    margin-left: 22px;
    margin-top: 17px;
    margin-bottom: 3px;
    cursor: pointer;
}

.label button {
    font-size: 12px;
    line-height: 36px;
    text-align: center;
    color: black;
    background-color: #f4f4f4;
    width: 100px;
    margin: 0;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0;
}

.label .labelbtn_active {
    background-color: black;
    color: white;
}

.case_container {
    float: left;
    width: 1000px;
    margin: 0 auto;
}

.case {
    float: left;
    position: relative;
    overflow: hidden;
    background-color: #000000;
}

.case_big {
    width: 500px;
}

.case img {
    width: 100%;
    height: auto;
}
.case .gradient {
    position: absolute;
    left: 0;
}

.case_small {
    width: 333px;
}

.case a {
    text-decoration: none;
    display: block;
}

.case .description_container {
    position: absolute;
    margin-top: -200px;
    width: 500px;
    height: 200px;
    background-color: #ffffff;
    display: none;
}

.case .description {
    margin-top: 32px;
    margin-left: 32px;
    margin-right: 76px;
}

.case .description h2 {
    color: #000000;
    font-size: 1.875em;
    margin-top: 8px;
    margin-bottom: 8px;
}

.case .description p {
    color: #000000;
    font-size: 0.875em;
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.case > a > h1 {
    position: absolute;
    bottom: 40px;
    line-height: 40px;
    padding: 0 26px;
    font-size: 32px;
    color: #FFF;
    font-weight: 300;
}

.ieundefined .case > a > h1 {
    bottom: 20px;
}

.case > a > p {
    position: absolute;
    margin-top: -49px;
    margin-left: 26px;
    line-height: 26px;
    padding: 0 10px;
    font-size: 14px;
    color: #FFF;
    background-color: #000;
    z-index: 99;
}

.case > a > p.label1 {
  background-color: #4f5b69;
}
.case > a > p.label2 {
  background-color: #3e53b7;
}
.case > a > p.label3 {
  background-color: #01c0a7;
}
.case > a > p.label4 {
  background-color: #00a9da;
}

.question  h2 {
    position: absolute;
    top: 40px;
    margin-left: 30px;
    line-height: 26px;
    font-size: 20px;
    color: #FFF;
}
.question  .question_container {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.question  p {
    margin-top: 127px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0;
    line-height: 45px;
    font-size: 38px;
    color: #FFF;
    font-weight: 400;
    background-color: transparent;
}

.question  .dashline {
    position: absolute;
    top: 0px;
    height: 95px;
    width: 30px;
    margin-left: 30px;
    border-bottom: 1px solid white;
}

.bottomlabel_container {
    position: relative;
    float: left;
    width: 100%;
    background-color: #f0f0f0;
}

.bottomlabel {
    height: 180px;
    margin: 0 auto;
    background-color: white;
    width: 1000px;
    padding-top: 32px;
    padding-left: 12px;
    padding-bottom: 18px;
}

.bottomlabel .label {
    margin-top: 3px;
    margin-bottom: 17px;
}

.cooperation,
.venturelogo {
    width: 100%;
    overflow: hidden;
    font-size: 0px;
    background-color: #FFFFFF;
}

.cooperation {
    padding-top: 60px;
    padding-bottom: 60px;
}

.venturelogo {
    border-top: 1px solid #f3f3f3;
}

.cooperation .brand_container,
.venturelogo .brand_container {
    width: 25%;
    box-sizing: border-box;
    float: left;
    overflow: hidden;
    background-color: #ffffff;
}

.venturelogo .brand_container {
    width: 16.666%;
    border-bottom: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    box-sizing: border-box;
}

.cooperation .brand_container img,
.venturelogo .brand_container img {
    width: 40%;
    margin: 0 30%;
    height: 118px;
    float: left;
}

.venturelogo .brand_container img {
    width: 86%;
    margin-left: 7%;
}

footer {
    background-color: #ffffff;
    width: 100%;
    overflow: hidden;
}

.footer_container {
    width: 1000px;
    margin: 0 auto;
    background-color: #f9f9f9;
}

.footer_container .map_container .map {
    float: left;
    width: 33%;
    margin-top: 70px;
    margin-bottom: 70px;
    position: relative;
}

.footer_container .map_container .map p {
    position: absolute;
    top: 20px;
    left: 50px;
    font-size: 16px;
    color: #000000;
    z-index: 1;
    font-weight: 400;
}

.footer_container .map_container .map img {
    width: 100%;
}

.footer_container .map_container .map h2 {
    margin-top: 30px;
    color: #000000;
    font-size: 20px;
}

.footer_container .map_container .map span {
    margin-left: 2%;
    color: #9f9f9f;
}

.footer_container .map_container .map .tellink,
.footer_container .map_container .map .loclink {
    line-height: 0.875em;
    color: #000000;
    font-size: 16px;
    float: left;
    text-decoration: none;
    margin-top: 16px;
}

.footer_container {
    background-color: #ffffff;
}

.footer_container .map_container {
    border-bottom: none;
    width: 100%;
    height: 180px;
    margin: 0 auto;
    padding-top: 50px;
}

.footer_container .map_container .map {
    min-height: 1;
    margin-top: 0;
    width: 33.333%;
    margin-bottom: 0;
}

.footer_container .map_container .map .address {
    position: absolute;
    top:70px;
    left: 50px;
}

.footer_container .contact_link_container {
    width: 100%;
    height: 70px;
    position: relative;
}
.contact_link_container .contact_link {
    width: 33.33%;
    float: left;
}
.contact_link_container .contact_link p {
    width: 100%;
    text-align: left;
    color: #000000;
    margin-left: 50px;
}
.contact_link_container .contact_link p a {
    color: #00b4f8;
    text-decoration: none;
}

.footer_container .about_container {
    border-top: 1px solid #d5d7d8;
}

.footer_container .about_container {
    width: 100%;
    height: 94px;
    border-bottom: 1px solid #d5d7d8;
}

.footer_container .about_container .about {
    height: 94px;
    margin: 0 auto;
}

.footer_container .about_container .aboutleft,
.aboutright {
    margin: 0;
    padding: 0;
}

.footer_container .about_container .aboutright {
    float: right;
}

.footer_container .about_container .about .aboutleft {
    float: left;
}

.footer_container .about_container .about .aboutleft li {
    float: left;
    display: inline-block;
    line-height: 88px;
    margin-right: 44px;
}

.footer_container .about_container .about .aboutright li {
    float: left;
    display: inline-block;
    margin: 15px;
    margin-right: 0;
}

.footer_container .about_container .about .aboutright li img {
    width: 60px;
}

.footer_container .about_container ul li a {
    text-decoration: none;
    color: #999999;
    font-size: 1.0em;
    cursor: pointer;
}

.footer_container .copyright {
    font-size: 1.0em;
    color: #32373d;
    text-align: center;
    line-height: 80px;
}

#wechat {
    cursor: pointer;
}

.wechat-dialog-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 100;
}

.wechat-dialog-container .wechat-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(55, 58, 71);
    opacity: .6;
}

.wechat-dialog-container .wechat-dialog {
    position: absolute;
    width: 420px;
    height: 410px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    margin: auto;
    text-align: center;
    line-height: 26px;
}

.wechat-dialog-container .wechat-dialog .wechat-content {
    padding: 2.0em;
}

.dialog-qrcode {
    /*width: 170px;*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.dialog-qrcode img {
    width: 100%;
}

.dialog-context {
    margin: 1em;
    line-height: 26px;
}

.dialog-close {
    color: #fff;
    height: 50px;
    width: 190px;
    margin: 0 auto;
    background-color: #000000;
    line-height: 50px;
    cursor: pointer;
}

.footer_logo {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.footer_logo img {
    width: 7%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 40px;
}

.footer_logo p {
    font-size: 1.125em;
    color: white;
    text-align: center;
    margin-bottom: 76px;
}

.mobile {
    display: none !important;
}

.more .case_container .slick-arrow {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 21px;
    height: 40px;
}

.banner_container .banner .slick-arrow {
    display: none;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 61px;
    height: 60px;
}

.banner_container .banner .slick-prev {
    background-image: url(../images/bigprev.png);
    left: 25px;
    z-index: 1;
}

.more .case_container .slick-prev:before,
.banner_container .banner .slick-prev:before {
    content: "";
}

.banner_container .banner .slick-next {
    background-image: url(../images/bignext.png);
    right: 25px;
}

.more .case_container .slick-next:before,
.banner_container .banner .slick-next:before {
    content: "";
}

#more_posts,
#toall {
    width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
    padding-top: 50px;
    padding-bottom: 50px;
}

#toall {
    display: none;
}
.chekcmore_btn,
.toall_btn {
    background-color: #f4f4f4;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background-image: url(../images/moreicon.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 50px;
}

.checkmore,
.toallspan {
    line-height: 50px;
    margin-left: 25px;
}

.banner_container .banner_logo img {
    width: 20%;
}

.video-dialog-container {
    display: none;
}

.loading_caseimg {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.loading_videocaseimg {
    display: none;
    /*margin-top: 30px;*/
}
.casesloading {
    display: none;
    position: relative;
    height: 160px;
    background-color: #ffffff;
    width: 1000px;
    margin: 0 auto;
}
.casesloading div {
    /*margin-top: 30px;*/
}

@keyframes breathe {
    0% {
        width: 36px;
        height: 36px;
        -moz-border-radius: 18px;
        -webkit-border-radius: 18px;
        border-radius: 18px;
    }
    50% {
        width: 16px;
        height: 16px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
    }
    100% {
        width: 36px;
        height: 36px;
        -moz-border-radius: 18px;
        -webkit-border-radius: 18px;
        border-radius: 18px;
    }
}

@keyframes breathe2 {
    0% {
        width: 16px;
        height: 16px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
    }
    50% {
        width: 36px;
        height: 36px;
        -moz-border-radius: 18px;
        -webkit-border-radius: 18px;
        border-radius: 18px;
    }
    100% {
        width: 16px;
        height: 16px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
    }
}


/* The element to apply the animation to */

.breathe {
    position: absolute;
    top: 50%;
    left: calc(50% - 18px);
    transform: translate(-50%, -50%);  
    -webkit-transform: translate(-50%, -50%);

    background-color: #dedede;
    animation-name: breathe;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.breathe2 {
    left: calc(50% + 18px);
    animation-name: breathe2;
}

@media(max-width: 768px) {
    #more_posts,
    #toall {
        width: 100%;
    }
    .banner_container, .banner_container a {
        min-height: 300px;
    }
    .container {
        background-color: #ffffff;
    }
    .mobile_pagetitle {
        position: fixed;
        right: 16%;
        margin: 6% 0;
        font-size: 12px;
        color: #000000;
        z-index: 1000;
    }
    .topmenu a {
        display: block;
        width: 60%;
        position: relative;
        overflow: hidden;
    }
    .topmenu a .menulogo {
    width: 95%;
    margin: 9% 9% 9% 0;
    }
    .pagebanner_title p {
        font-size: 20px;
        letter-spacing: 3px;
        font-weight: 300;
    }
    .pagebanner_title .title_en {
        font-size: 14px;
    }
    .banner_container .banner_title p {
        font-size: 26px;
        margin-left: 5%;
        margin-bottom: 0px;
    }
    .pagebanner_title {
        top:50%;
    }
    .banner_container .banner_logo,
    .banner_container .banner_clear {
        width: 180%;
        margin-top: 30px;
        margin-left: 5%;
    }
    .footer_container .map_container .map .address .locicon {
        float: left;
        margin: 10px;
        margin-bottom: 0;
        width: 20px;
    }
    .footer_container .map_container .map .address .telicon {
        float: left;
        margin: 10px;
        width: 20px;
        clear: both;
    }
    .venturelogo .brand_container {
        width: 33.333%;
    }
    .banner_container a img {
        width: 100%;
    }
    .cooperation .brand_container img,
    .venturelogo .brand_container img {
        width: 76%;
        margin: 12%;
        margin-top: 0;
    }
    #more_posts {
        width: 100%;
    }
    .main {
        overflow: hidden;
    }
    .cooperation {
        padding-top: 0;
        padding-bottom: 0;
    }
    .mobile {
        display: block!important;
    }
    .pc {
        display: none!important;
    }
    .mobile .slick-dots li {
        width: 4px;
    }
    .mobile .slick-dots li button:before {
        color: white;
        opacity: 0.3;
        font-size: 10px;
    }
    .mobile_menu {
        float: left;
        width: 100%;
        height: auto;
        position: relative;
    }
    .mobile_menu .logobtn {
        position: absolute;
        top: 0;
        display: block;
        width: 57%;
        margin: 6% 6% 6% 0; 
    }
    .mobile_menu .logobtn img {
        width: 100%;
    }
    .mobile_menu .background {
        width: 100%;
        top: 0;
        height: auto;
    }
    .mobile_menu .logo {
        position: absolute;
        width: 15.47%;
        left: 42.265%;
        top: 17.27%;
    }
    .mobile_menu .button {
        position: absolute;
        top: 0;
        right: 0;
        background:url(../images/tag2.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 20%;
        height: 100%;
        border: none;
        padding: 0;
        outline: none;
    }
    .mobile_menu .button_fixed {
        width: 34%;
        z-index: 1;
        margin: 0;
    }
    .mobile_menu img {
        padding: 0;
    }
    .mobile_menu_open {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: auto;
        /*background-color: #ffffff;*/
        display: none;
        z-index: 100;
    }
    .mobile_menu_open a {
        display: block;
        background-color: #ffffff;
        width: 100%;
        /*height: 9%;*/
    }
    .mobile_menu_open .menu_logobar {
        width: 100%;
        background-color: #ffffff;
    }
    .mobile_menu_open .menu_logobar a {
        width: 60%;
        /*height: 9%;*/
    }
    .mobile_menu_open a .menulogo {
        height: 9%;
        width: 95%;
    }
    .mobile_menu_open img {
        width: 100%;
    }
    .mobile_menu_open .button {
        background: url(../images/close2.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 34%;
        height: 11%;
        margin: 0;
    }
    .mobile_menu_open_bg {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(55, 58, 71, 0.6);
        z-index: -1;
    }
    .mobile_menu .button2 {
        background: url(../images/tag_white2.svg);
        margin: 0;
        height: 20%;
        width: 34%;
        background-repeat: no-repeat;
    }
    .case > a > h1 {
        font-size: 24px;
        line-height: 30px;
        /*bottom: 30px;*/
        padding: 0 16px;
    }
    .case > a > p {
        font-size: 12px;
        margin-left: 16px;
        margin-top: -42px;
    }
    .label button {
        font-size: 12px;
        line-height: 32px;
        width: 120%;
        min-width: 50px;
    }
    .label {
        margin: 0;
        width: 24%;
        padding-left: 4%;
        padding-right: 4%;
        padding-bottom: 3%;
    }
    .label p {
        text-align: center;
        font-size: 1.0em;
    }
    .nolabel {
        display: none!important;
    }
    .yeslabel {
        display: block!important;
    }

    .question  .question_container {
        width: 100%;
        height: auto;
    }
    .menulist {
        width: 100%;
        border-top: solid 1px #f0f0f0;
    }
    /*.menulist > * {
        float: left;
    }*/
    .menu_open {
        overflow: hidden;
        height: 100%;
    }
    .menu_open_scroll {
        /*height: 100%;*/
    }
    .menu_open {
        display: block;
    }
    .topmenu {
        position: absolute;
        width: 100%;
        top: 0;
    }
    .topmenu a img {
        width: 100%;
    }
    .topmenu .button_top {
        width: 34%;
        height: 100%;
        margin: 0;
    }
    .fixedbar {
        display: none;
        width: 100%;
        position: fixed;
        z-index: 100;
        top: 0;
        margin: 0;
        padding: 0;
    }
    .fixedbar img {
        width: 16%;
        float: right;
        opacity: 0.9;
    }
    .main {
        width: 100%;
    }
    .case_container {
        width: 100%;
    }
    .case_small > a > p {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 76%;
    }
    .case_big {
        width: 100%;
    }
    .case_small {
        width: 50%;
    }
    .mobile_article {
        width: 100%;
    }
    .bottomlabel {
        width: 94%;
        height: 155px;
        padding: 3%;
        margin-top: 0;
    }
    .bottomlabel .label {
        margin-top: 0;
        margin-bottom: 0;
    }
    .cooperation,
    .venturelogo {
        overflow: hidden;
    }
    .cooperation .brand_container,
    .venturelogo.brand_container {
        width: 33.333%;
        height: 90px;
    }
    .cooperation.brand_container img,
    .venturelogo.brand_container img {
        height: 90px;
    }
    .links {
        float: left;
        height: 165px;
        width: 90%;
        margin: 10px 5%;
        border-bottom: 1px solid #d5d7d8;
        border-top: 1px solid #d5d7d8;
    }
    .links ul {
        margin: 0;
        padding: 0;
        float: left;
        width: 100%;
    }
    .links li {
        display: inline-block;
        line-height: 80px;
    }
    .links .m2 {
        margin-left: 10%;
    }
    .links .m3 {
        margin-right: 10%;
    }
    .links a {
        text-decoration: none;
        color: #999999;
        font-size: 14px;
    }
    .footer_container .map_container {
        height: auto;
        overflow: hidden;
    }
    .footer_container .map_container .map {
        float: left;
        margin-left: 2%;
        margin-top: 20%;
        margin-bottom: 0;
        width: 100%;
    }
    .map img {
        width: 30%;
        margin-left: -99%;
    }
    .footer_container {
        width: 100%;
    }
    .footer_container .map_container .map h2 {
        margin-top: 0;
    }

    .footer_container .map_container .map_last {
        margin-right: 0;
        padding-bottom: 20%;
    }
    .footer_container {
        background-color: #ffffff;
    }
    .footer_container .map_container {
        height: auto;
    }
    .footer_container .map_container .map {
        width: 100%;
        margin: 0;
        padding-bottom: 10px;
    }
    .footer_container .map_container .map img {
        float: left;
        width: 100%;
        margin-left: 0;
    }
    .footer_container .map_container .map .address {
        top: 80px;
    }
    .footer_container .map_container .map .address .loclink {
        font-size: 14px;
        margin-bottom: 0;
        margin-left: 0;
        margin-top: 10px;
        text-decoration: none;
    }    

    .footer_container .contact_link_container {
        height: auto;
        position: relative;
        float: left;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .contact_link_container .contact_link {
        float: left;
        width: 100%;
    }
    .contact_link_container .contact_link p {
        width: 80%;
        margin: 5px 50px;
        text-align: left;
        font-size: 14px;
    }
    .footer_container .copyright {
        font-size: 0.7em;
        color: #666666;
        line-height: 75px;
        margin-left: 2.67%;
        text-align: center;
    }
    .social {
        float: right;
        margin-top: -96px;
        padding: 0;
        margin-right: calc(50% - 86px);
        width: 216px;
        position: relative;
    }
    .social img {
        width: 64px;
    }
    .social li {
        float: right;
        display: inline-block;
        margin-left: 44px;
    }
    .wechat-dialog-container .wechat-dialog {
        width: 80%;
        /*height: 370px;*/
        height: auto;
    	position: relative;
    	margin-top: 50%;
    }
    .wechat-dialog-container .wechat-dialog .wechat-content {
        padding: 10%;
    }
    .casesloading {
        width: 100%;
    }
    .casesloading div {
        margin-top: 10px;
    }
}

@media (max-width:350px) {
    .pagebanner_title p {
        font-size: 18px;
    }
    .banner_container .banner_title p {
        font-size: 24px;
    }

    .links .m2 {
        margin-left: 5%;
    }
    .links .m3 {
        margin-right: 5%;
    }
}
